<h1>Create Products</h1>

<form action="/products" method="post">
    title: <input type="text" name="title"><br>
    Description: <input type="text" name="type" > <br>
    Photo: <input type="text" name="photo"><br>
    Price: <input type="number" name="price"><br>
    Code: <input type="number" name="code" ><br>
    Stock: <input type="number" name="stock"><br>
    Category: <input type="text" name="category"><br>
    



    <input type="submit" value="Register">
</form>