<h1>Create Carts</h1>

<form action="/carts" method="post">
    Title: <input type="text" name="title"><br>
    IdProducto: <input type="text" name="idproducto" > <br>
    Quantity: <input type="number" name="quantity"><br>
    
    <input type="submit" value="CreateCarts">
</form>