<div>
    Listando los Productos desde Handlebars...
</div>
<div>
    <ul id="carts">
        {{#each carts}}
        <li>{{this.title}} </li>
        <p>Id del Producto: {{this.idproducto}}</p>
        <p>Cantidad: {{this.quantity}}</p>
      {{/each}}
    </ul>
</div>